<h1>Dream Garage</h1>

  <% data.forEach(car => { %>
    <li><%= car.dataValues.make + " " + car.dataValues.model %></li>
    <ul><%= car.dataValues.description %>
      <form method="POST" action="/dreamgarage/?_method=DELETE">
        <input type="hidden" value="<%=car.dataValues.id%>" name="id">
        <input type="submit" class="btn btn-outline-danger" value="Delete">
        
    </form>
    </ul>
  <% }) %>
  