<h2>Homepage</h2>

<ul>
    <li><a href="/auth/signup">Sign Up</a></li>
    <li><a href="/auth/login">Log In</a></li>
    <li><a href="/auth/currentgarage">Current Garage</a></li>
    <li><a href="/auth/dreamgarage">Dream Garage</a></li>
    <li><a href="/auth/profile">Profile</a></li>
    <li><a href="/auth/addcars">Add Cars</a></li>
</ul>