<h1>Automotive Dreamers</h1>
<h3>An app created to bring people together through cars</h3>
<ul>
    <!-- <li><a href="/auth/signup">Sign Up</a></li>
    <li><a href="/auth/login">Log In</a></li> -->

</ul>